.view_setProfile .mask{padding: 0 20%;}
.view_setProfile .mask_tip{width: 80%;left:10%;}
.ok_service{width: 100%;height: 44px;display: block;border-top: 1px solid #ddd;line-height: 44px;
text-align: center;color: #0776c5;font-size: 1.8rem;}