<!DOCTYPE HTML>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<meta content="public" http-equiv="Cache-Control">
	<meta content="telephone=no" name="format-detection">
	<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="./css/reset.css">
	<link rel="stylesheet" type="text/css" href="./css/swiper.css">
	<!-- <link rel="stylesheet" type="text/css" href="http://192.168.253.1:8080/build/css/build.css"> -->
	<link rel="stylesheet" type="text/css" href="./assets/css/build.css">
	<script src="./common/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="./js/lib/swiper.min.js"></script>
	
	<!--i18n source -->
	<script type="text/javascript" src="./js/i18n/zh.js"></script>
	<script type="text/javascript" src="./js/i18n/en.js"></script>


	<!--base source -->
	<script type="text/javascript" src="./base/iosbridge.js"></script>
	<script type="text/javascript" src="./base/base.js"></script>

	<!--private source -->
	<script type="text/javascript" src="./js/FA_MSG.js"></script>
	<!--<script type="text/javascript" src="http://172.16.10.15:8080/mdSmart/T0xFA/js/cmd.js"></script>-->
	<script type="text/javascript" src="./js/cmd.js"></script>
</head>
<body>
	<div id="pages">
		<App></App>
	</div>
	<script type="text/x-template" id="app">
		<div class="page-app" id="scroll">
			<router-view keep-alive>
        	</router-view>
		</div>
	</script>	
	<script type="text/x-template" id="main">
		<div class="page-main fixScroll">
			<div class="fixIOS"></div>
			<div class="header">
				{{deviceName}}
				<span class="back" v-touch:tap="goBack"></span>
				<span class="more" v-touch:tap="setShowMore"></span>
				<span class="fixMoreTap" v-touch:tap="setShowMore"></span>
			</div>
			<div class="info" 
				v-bind:class="{'sleepChartInfo':isShowChart,'normalInfo':!isShowChart}">
				<div class="showState" v-bind:class="{'enShowState':$lang.lang == 'en'}">
					<div class="saveDefineScene" 
						 v-if="isShowSave" 
						 v-touch:tap="saveDefineScene">
					</div>
					<div class="book" v-if="isBookOn || isBookOff"></div>
					<div class="shake" v-if="isOpen && shake"></div>
					<div class="delDefineScene"
						 v-if="isShowDel"
						 v-touch:tap="delDefineScene">
					</div>
				</div>
				<div class="showStateLeft">
					<div class="voice" 
						v-if="isVoice !== 0" 
						v-bind:class="{'voiceOpen':isVoice == 1,'voiceClose':isVoice == 2}">
					</div>
					<div class="airInfo" v-if="isShowLinkAir">
						<div class="hasLink" v-if="isBindAir">
							<p>{{airBind.name}}</p>
							<p class="linkAirStatus"><span>{{linkAirStatus}}</span></p>
						</div>
						<div class="noLink" v-else>
							<p class="noLinkIcon"></p>
							<p>{{$t("LINKSTATE_DISCONNECT")}}</p>
							<p>{{$t('AIRLINK1')}}</p>
						</div>
					</div>
				</div>				
				<div class="deviceState-icon" v-bind:class="{'open':isOpen,'close':!isOpen}">
					<p class="deviceState" v-if="$lang.lang == 'zh'">
						<span>{{$t('DEVICE_STATUS')}}</span>
						<span>{{deviceStateTxt}}</span>
						<span>{{$t('STATUS')}}</span>
					</p>
					<p class="deviceState" v-else>
						<span v-if = "deviceStateTxt == 'ON'">Working</span>
						<span v-else>Closed</span>
					</p>
					<div v-if="isShowChart">
						<div class="chartTitle">
							<p>{{$t('GEAR1')}}</p>
						</div>
						<div class="chart" id="sleepChart">
							<div class="xAxisText">
								<p>{{$t("HOURLATER1")}}</p>
							</div>
						</div>
					</div>
					<div v-bind:class="{'deviceOpen':isOpen,'deviceClose':!isOpen}" 
						class="device-iconWrap" v-if="!isShowChart">
						<div class="clear"></div>
						<div v-if="isShowLinkAir" class="linkAirIcon">
							<div class="air"></div>
							<div class="wind"></div>
						</div>
						<div class="device-icon" v-bind:class="sceneIcon" v-else>
							<p class="defineName" v-show="!isShowChart && isOpen && scene == 4">
								<input  type="text"
										id="defineSceneName" 
										placeholder="{{$t('INPUT_NOTICE')}}" />
							</p>
						</div>
					</div>
					<!--<p class="inDoorTemp" 
						v-if="isShowDoorTemp">
						当前室温：{{inDoorTemp}}℃
					</p>-->
					<p class="sceneTxt airLinkTxt" v-if="isShowLinkAir">{{$t('AIRLINK2')}}</p>
					<p class="sceneTxt" v-if="isShowSceneTitle && scene !== 4">{{sceneTitle}}
					</p>
					</p>
				</div>
				<div class="windSpeed" v-if="isOpen">
					<div v-if="model == 0 || model == 1">
						<p>{{$t('WINDSPEED_CURRENT')}}</p>
						<p class="speedCount"><span>{{windSpeed}}</span>{{$t('GEAR2')}}</p>
					</div>
					<div v-else>
						<p class="auto">{{$t('AUTO')}}</p>
					</div>
				</div>
				<div class="switchState" v-bind:class="{'switchOpen':isOpen,'switchClose':!isOpen}"
				v-touch:tap="powerOnOff">
					<div class="switch-icon"></div>
				</div>
			</div>
			<Model 
				:model="model" 
				v-if="isShowModel">
			</Model>
			<p class="bottomIcon" v-if="isShowModel"
				v-bind:class="{'activeModel':isActiveModel}"></p>
			<Wind-Speed 
				v-if="isShowWindSpeed"
				:book-Time="bookTime"
				:model="model" 
				:wind-Speed="windSpeed">
			</Wind-Speed>
			<p class="bottomIcon" v-if="isShowWindSpeed"
				v-bind:class="{'activeWindSpeed':isActiveWindSpeed}"></p>
			<Sleep-Off-On 
				v-if="isShowChart" 
				:sleep-Curve-Id="sleepCurveId"
				:is-Sleep-Chart="isSleepChart"></Sleep-Off-On>
			<p class="bottomIcon" v-if="isShowChart"
				v-bind:class="{'activeLinkAir':isActiveSleepChart}"></p>
			<Shake 
				v-if="isShowShake"
				:shake="shake">
			</Shake>
			<p class="bottomIcon" v-if="isShowShake"
				v-bind:class="{'activeShake':isActiveShake}"></p>
			<Book-Time 
				v-if="isShowBookTime"
				:book-Time="bookTime" 
				:is-Book-Off="isBookOff"
				:client-Width="clientWidth" 
				:is-Book-On="isBookOn">
			</Book-Time>
			<p 	class="bottomIcon" 
				v-if="isShowBookTime" 
				v-bind:class="{'activeBook':isActiveBook}"></p>
			<Temper 
				v-if="isShowTemper" 
				:temper="inDoorTemp">
			</Temper>
			<p class="bottomIcon" v-if="isShowTemper"></p>
			<Link-Air v-if="isShowLinkAir && isBindAir" 
					:air-Bind="airBind" 
					:is-Link="isLinkAir">
			</Link-Air>
			<p class="bottomIcon" v-if="isShowLinkAir && isLinkAir"
				v-bind:class="{'activeLinkAir':isActiveLinkAir}"></p>
			<Air :is-Air="isBindAir" :airs="airCount" v-if="isShowLinkAir"></Air>
			<p class="bottomIcon" v-if="isShowLinkAir"></p>
			<Scene 
				v-if="isShowScene"
				:book-Time="bookTime"
				:is-Link-Air = "isLinkAir"
				:is-Sleep-Chart = "isSleepChart"
				:air-Bind="airBind"  
				:scene="scene">
			</Scene>
			<p class="bottomIcon sceneBottomIcon" v-if="isShowScene" 
				v-bind:class="{'activeScene':isActiveScene}"></p>
			<p class="clear"></p>
			<div class="firstAlert" v-if="isShowFirstAlert">
				<div class="mask" v-touch:tap="cancelFirstAlert"
					 v-on:touchmove="preventScroll" 
					 v-bind:style="{'height':clientHeight+'px'}"></div>
				<p class="alertText" v-bind:style="{'top':clientHeight*0.6+'px'}">{{$t('WARMING_NOTICE')}}</p>
				<p class="alertImg" v-bind:style="{'top':clientHeight*0.65+'px'}">
					<img src="./images/tips.png" />
				</p>
			</div>
			<div v-show="isShowMore">
				<div class="mask" v-touch:tap="cancelMore"
					 v-on:touchmove="preventScroll" 
					 v-bind:style="{'height':clientHeight+'px'}"></div>
				<div class="bottomMenu openVoice"
					 v-on:touchmove="preventScroll">
					<div class="arrow"></div>
					<ul>
						<li v-touch:tap="goHealth">{{$t('MEDICAL_KEY')}}</li>
						<li v-if="isVoice == 1" v-touch:tap="closeVoice">{{$t("SPEECH_TURN_OFF")}}</li>
						<li v-touch:tap="openVoice" v-if="isVoice == 2">{{$t('SPEECH_TURN_ON')}}</li>
						<li v-touch:tap="cancelMore" class="lastLi">{{$t("CANCEL")}}</li>
					</ul>
				</div>
			</div>
			<div v-show="isShowAirList" class="airList">
				<div class="mask" v-touch:tap="cancelAirList"
					 v-on:touchmove="preventScroll"
					 v-bind:style="{'height':clientHeight+scrollHeight+'px'}"></div>
				<div>
					<div class="swiper-container airListSwiper" id="airListSwiper"
						v-on:touchmove="preventScroll"
						v-bind:style="{'top':airListTop+scrollHeight+'px','height':airListSwipeHeight +'px'}">
				  		<div class="swiper-wrapper">
		    				<div class="swiper-slide" 
		    					v-for="item in airList" 
		    					data-applicationId="{{item.applicationId}}">
		    					{{item.name}}
		    				</div>
				  		</div>
						<div class="listTitle" 
							v-bind:style="{'top':(slidesPerView == 3 ? 50 : 0)+'px'}">{{$t('TYPE')}}</div>
					</div>
				</div>
				<div class="saveBindAir" 
					v-bind:style="{'top':clientHeight - 40 +scrollHeight+'px'}" 
					v-on:touchmove="preventScroll"
					v-touch:tap="saveBindAir">{{$t('CONFIRMBOOK1')}}</div>
			</div>
			<div v-show="isShowSleepChartList" class="sleepChartList">
				<div class="mask" v-touch:tap="cancelSleepChartList"
					 v-on:touchmove="preventScroll" 
					 v-bind:style="{'height':clientHeight+scrollHeight+'px'}"></div>
				<div>

					<div class="swiper-container sleepTimeListSwiper" id="sleepTimeListSwiper"
						v-on:touchmove="preventScroll"
						v-bind:style="{'top':sleepChartListTop+scrollHeight+'px'}">
				  		<div class="swiper-wrapper">
		    				<div class="swiper-slide" 
		    					v-for="item in 12">
		    					{{item+1}}
		    				</div>
				  		</div>
						<div class="listTitle">
							<p class="p1"><img src="./images/timeChart.png" /><span>{{$t('TIME')}}</span></p>
							<p class="p2">{{$t('HOURLATER2')}}</p>
						</div>
					</div>
					<div class="swiper-container sleepGearListSwiper" id="sleepGearListSwiper"
						v-on:touchmove="preventScroll"
						v-bind:style="{'top':sleepChartListTop+scrollHeight+'px'}">
				  		<div class="swiper-wrapper">
		    				<div class="swiper-slide" 
		    					v-for="item in 26">
		    					{{item+1}}
		    				</div>
				  		</div>
						<div class="listTitle">
							<p class="p3"><img src="./images/speedChart.png" /><span>{{$t('WINDSPEED1')}}</span></p>
							<p class="p4">{{$t('GEAR3')}}</p>
						</div>
					</div>
				</div>
				<div class="saveBindAir" 
					v-bind:style="{'top':clientHeight - 40 +scrollHeight+'px'}"
					v-on:touchmove="preventScroll" 
					v-touch:tap="saveSleepChart">{{$t("CONFIRMBOOK2")}}</div>
			</div>
			<p class='version' 
				v-bind:class="{'openVersion':isOpen,'closeVersion':!isOpen}">
				{{$t('VERSION')}}V{{version}}
			</p>
		</div>
	</script>
	<script type="text/x-template" id="model">
		<div class="page-model setList" v-bind:class="{'listModelActive':isActive}">
			<div class="itemType">{{$t("MODEL")}}</div>
			<div class="swiper-container listSwiper" id="modelSwiper" v-bind:style="{'width':swiperWidth+'px'}">
  				<div class="swiper-wrapper">
    				<div class="swiper-slide swiperItem" 
    					 v-for="item in models"
    					 v-touch:tap="setModel($index,$event)">

						<img v-bind:src="item.img" 
							 class="swiperItemImg" 
							 v-bind:class="{'itemImgActive':!isActive}" />
						<p  class="swiperItemTxt"
							v-bind:class="{'modelActive':!isActive}">{{item.name}}</p>
    				</div>
  				</div>
			</div>
		</div>
	</script>
	<script type="text/x-template" id="windSpeed">
		<div class="page-windSpeed setList" v-bind:class="{'listWindActive':isActive}">
			<div class="itemType">{{$t("WINDSPEED2")}}</div>
			<div class="swiper-container listSwiper" id="windSpeedSwiper" v-bind:style="{'width':swiperWidth+'px'}">
  				<div class="swiper-wrapper">
    				<div class="swiper-slide swiperItem" 
    					 v-for="item in gearMax"  
    					 v-touch:tap="setWind($index,$event)">
						<p  class="swiperItemTxt" 
							v-bind:class="{'windActive':!isActive}">
							{{item + 1}}
						</p>
    				</div>
  				</div>
			</div>
		</div>
	</script>
	<script type="text/x-template" id="linkAir">
		<div class="page-linkAir setList" v-bind:class="{'listLinkAirActive':isActive}">
			<div class="itemType">{{$t("LINKAIR")}}</div>
			<div class="swiper-container listSwiper" id="linkAirSwiper" v-bind:style="{'width':swiperWidth+'px'}">
  				<div class="swiper-wrapper">
    				<div class="swiper-slide swiperItem" 
    					 v-for="item in linkAirList"  
    					 v-touch:tap="setLinkAir($index,$event)">
						<p  class="swiperItemTxt" 
							v-bind:class="{'linkAirActive':!isActive}">
							{{item}}
						</p>
    				</div>
  				</div>
			</div>
		</div>
	</script>
	<script type="text/x-template" id="sleepOffOn">
		<div class="page-sleepOffOn setList" v-bind:class="{'sleepOffOnActive':isActive}">
			<div class="itemType">{{$t("SELLPCHART")}}</div>
			<div class="swiper-container listSwiper" id="sleepOffOnSwiper" v-bind:style="{'width':swiperWidth - 46 +'px'}">
  				<div class="swiper-wrapper">
    				<div class="swiper-slide swiperItem" 
    					 v-for="item in sleepOffOnList"  
    					 v-touch:tap="setSleepOffOn($index,$event)">
						<p  class="swiperItemTxt" 
							v-bind:class="{'sleepOffOnActive':!isActive}">
							{{item}}
						</p>
    				</div>
  				</div>
			</div>
		</div>
	</script>
	<script type="text/x-template" id="air">
		<div class="page-air setList">
		<div v-if="isBindAir" class="noLink">
			<div class="itemType">{{$t("AIR")}}</div>
			<p class="title" 
				v-touch:tap="showAirList"
				v-bind:style="{'width':swiperWidth+'px'}">{{$t("SELECTAIRDEVICE")}}</p>
		</div>
		<div class="linked" v-touch:tap="showAirList" v-else>
			<p class="titleIcon"></p>
			<p class="title">{{$t("SELECTAIRDEVICE")}}</p>
		</div>
		</div>
	</script>	
	<script type="text/x-template" id="temper">
		<div class="page-temper setList" v-bind:class="{'listTemperActive':isActive}">
			<div class="itemType">{{$t("TEMPER")}}</div>
			<div class="swiper-container listSwiper" id="temperSwiper" v-bind:style="{'width':swiperWidth+'px'}">
  				<div class="swiper-wrapper">
    				<div class="swiper-slide swiperItem" v-for="item in temperList" 
    					 v-touch:tap="setTemp($index,$event)">
						<p class="swiperItemTxt"
						   v-bind:class="{'temperActive':!isActive}">{{item}}</p>
    				</div>
  				</div>
			</div>
		</div>
	</script>
	<script type="text/x-template" id="bookTime">
		<div class="page-bookTime setList" v-bind:class="{'listBookActive':isActive}">
			<div class="itemType">{{$t("BOOK")}}</div>
			<p 	class="title" 
				v-if="deviceState == 0"
				v-touch:tap="setTime" 
				v-bind:style="{'width':swiperWidth+'px'}">{{$t("BOOKON")}}</p>
			<p 	class="title" 
				v-if="deviceState == 1"
				v-touch:tap="setTime"
				v-bind:style="{'width':swiperWidth+'px'}">{{$t("BOOKOFF")}}</p>
			<div class="swiper-container listSwiper" v-if="!isActive" v-touch:tap="setTime" v-bind:style="{'width':swiperWidth+'px'}">
				<div class="bookStatus">
					<p class="time" v-if="deviceState == 0 && isBookOn">{{hour}}:{{min}}</p>
					<p class="time noTime" v-if="deviceState == 0 && !isBookOn">{{$t("UNBOOK")}}</p>
					<p class="time" v-if="deviceState == 1 && isBookOff">{{hour}}:{{min}}</p>
					<p class="time noTime" v-if="deviceState == 1 && !isBookOff">{{$t("UNBOOK")}}</p>
				</div>
			</div>
			<div class="fixBookScroll" v-else>
				<div class="mask" v-touch:tap="hiddenBook" v-on:touchmove="hiddenBook"></div>
				<div class="swiper-container listSwiper"
					 v-bind:style="{'width':swiperWidth+120+'px','left':swiperLeft+'px'}" 
					 v-else>
					<div class="cancel" v-touch:tap="cancelBook">{{$t("CANCELBOOK")}}</div>
					<div class="swiper-container bookTimeSwiper" id="bookHourSwiper">
						<div class="swiper-wrapper">
		    				<div class="swiper-slide swiperItem" v-for="item in 13">
								<p class="swiperItemTxt">{{item | zero}}</p>
		    				</div>
		  				</div>
					</div>
					<div class="swiper-container bookTimeSwiper" id="bookMinSwiper">
						<div class="swiper-wrapper">
		    				<div class="swiper-slide swiperItem" v-for="item in listMin">
								<p class="swiperItemTxt">{{item | zero}}</p>
		    				</div>
		  				</div>
					</div>
					<div class="confirm" v-touch:tap="confirmBook">{{$t("CONFIRMBOOK3")}}</div>
				</div>
			</div>					
		</div>
	</script>
	<script type="text/x-template" id="shake">
		<div class="page-shake setList" v-bind:class="{'listShakeActive':isActive}">
			<div class="itemType">{{$t("SHAKE")}}</div>
			<div class="swiper-container listSwiper" id="windShakeSwiper" v-bind:style="{'width':swiperWidth+'px'}">
  				<div class="swiper-wrapper">
    				<div class="swiper-slide swiperItem" 
    					 v-for="item in shakeList"
    					 track-by="$index" 
    					 v-touch:tap="setShake($index,$event)">
						<p  class="swiperItemTxt" 
							v-bind:class="{'shakeActive':!isActive}">{{item}}</p>
    				</div>
  				</div>
			</div>
		</div>
	</script>
	<script type="text/x-template" id="scene">
		<div class="page-scene setList" v-bind:class="{'listSceneActive':isActive}">
			<div class="itemType">{{$t("SCENE")}}</div>
			<div class="swiper-container listSwiper" id="sceneSwiper" v-bind:style="{'width':swiperWidth+100+'px'}">
  				<div class="swiper-wrapper">
    				<div class="swiper-slide swiperItem"
    					 v-for="item in sceneList"
    					 v-touch:tap="setScene($index,$event)">
						<p  class="swiperItemTxt"
							v-bind:class="{'sceneActive':!isActive}">{{item}}</p>
    				</div>
  				</div>
			</div>
		</div>
	</script>
	<script type="text/x-template" id="health">
		<div class="page-health fixScroll">
			<div class="fixIOS"></div>
			<div class="header">
				{{deviceName}}
				<a href="javascript:void(0)" class="back" v-touch:tap="gotoMain"></a>
			</div>
			<div class="info">
				<div class="deviceState-icon">
					<div class="clear"></div>
					<div class="circle">
						<img 
							v-bind:src="'./images/' + healthStatus.img + '.png'" 
							v-bind:class="healthStatus.img" 
						/>
					</div>
					<p class="healthInfo">
						<span>{{healthStatus.text}}</span>
						<span v-bind:class="{'totStatusLoader':totStatus.value == 0}"></span>
						
					</p>
				</div>
			</div>
			<div class="statusList">
				<ul>
					<li class="{{mainDynamo.status}}">
						<div v-bind:class="{'listLoader':mainDynamo.status == 'wait'}"></div>
						{{mainDynamo.name}}
					</li>
					<li class="{{shakeDynamo.status}}">
						<div v-bind:class="{'listLoader':shakeDynamo.status == 'wait'}"></div>
						{{shakeDynamo.name}}
					</li>
					<li class="{{control.status}}">
						<div v-bind:class="{'listLoader':control.status == 'wait'}"></div>
						{{control.name}}
					</li>
					<li class="{{temper.status}}" v-if="isShowTemper">
						<div v-bind:class="{'listLoader':temper.status == 'wait'}"></div>
						{{temper.name}}
					</li>		
				</ul>
			</div>
			<div class="statusInfo">{{alertText}}</div>
			<p class="phone">{{$t("PHONE")}}：400-8899-315</p>
			<p class='version'>{{$t("VERSION")}}V{{version}}</p>
		</div>
	</script>
	<script type="text/x-template" id="explain">
		<div class="page-explain">
			<p>
				<img src="./images/FS40-16DRW-01.png" />
			</p>
		</div>
	</script>
	<script type="text/javascript" src="./js/lib/svg.js"></script>
	<script type="text/javascript" src="./js/lib/Dialog.js"></script>
	<script type="text/javascript" src="./js/lib/iscroll-lite.js"></script>
	<!-- // <script src="http://192.168.253.1:8080/build/build.js" type="text/javascript"></script> -->
	 <script type="text/javascript" src="./assets/build.js"></script>
    <script>
        $(function () {
			setTimeout(function(){
				mdSmart.FA_P03.showStatusByJson({
                status: {
                    wrongAlarm:{name:"错误报警",value:0x00,view:{0:"无效",0x01:"传感器断路",0x02:"传感器短路",0x04:"倾倒保护",0x08:"摇头卡住"}},
                    voice:{name:"设备语音",value:0x00,view:{0:"无效",0x01:"开启语音导航",0x02:"关闭语音导航",0x04:"开启蜂鸣器",0x08:"关闭蜂鸣器",0x05:"同时开启语音导航和蜂鸣器",0x0A:"完全静音"}},
                    reserve:{name:"预留",value:0x00,view:{0:"无效"}},
                    bit7powerOnOff:{name:"Bit7开关机",value:0x00,view:{0:"控制开关机（重点关注）",1:"不控制开关机"}},
                    bit6CurveMode:{name:"Bit6曲线模式",value:0x00,view:{0:"设备正常运行",1:"设备运行在曲线模式"}},
                    windType:{name:"风类型",value:0x00,view:{0:"无效",0x01:"正常风",0x02:"自然风",0x03:"睡眠风",0x04:"舒适风",0x05:"静音风",0x06:"宝宝风",0x07:"人体感应"}},
                    powerOnOff:{name:"开关机控制",value:0x01,view:{0:"无效",1:"开机",2:"关机"}},
                    gear:{name:"档位",value:0x00,view:{0:"无效",0x01:"1档",0x02:"2档",0x03:"3档",0x04:"4档",0x05:"5档",0x06:"6档",0x07:"7档",0x08:"8档",0x09:"9档",0x0A:"10档",0x0B:"11档",0x0C:"12档",0x0D:"13档",0x0E:"14档",0x0F:"15档",0x10:"16档",0x11:"17档",0x12:"18档",0x13:"19档",0x14:"20档",0x15:"21档",0x16:"22档",0x17:"23档",0x18:"24档",0x19:"25档",0x1A:"26档"}},
                    setTemperature:{name:"设置温度",value:0x00,view:{0:"无效",0x01:"-40度",0x02:"-39度",0x03:"-38度",0x04:"-37度",0x05:"-36度",0x06:"-35度",0x07:"-34度",0x08:"-33度",0x09:"-32度",0x0A:"-31度",0x0B:"-30度",0x0C:"-29度",0x0D:"-28度",0x0E:"-27度",0x0F:"-26度",0x10:"-25度",0x11:"-24度",0x12:"-23度",0x13:"-22度",0x14:"-21度",0x15:"-20度",0x16:"-19度",0x17:"-18度",0x18:"-17度",0x19:"-16度",0x1A:"-15度"
                        ,0x1A:"-14度",0x1C:"-13度",0x1D:"-12度",0x1E:"-11度",0x1F:"-10度",0x20:"-9度",0x21:"-8度",0x22:"-7度",0x23:"-6度",0x24:"-5度",0x25:"-4度",0x26:"-3度",0x27:"-2度",0x28:"-1度",0x29:"0度",0x2A:"1度",0x2B:"2度",0x2C:"3度",0x2D:"4度",0x2E:"5度",0x2F:"6度",0x30:"7度",0x31:"8度",0x32:"9度",0x33:"10度",0x34:"11度",0x35:"12度",0x36:"13度"
                        ,0x37:"14度",0x38:"15度",0x39:"16度",0x3A:"17度",0x3B:"18度",0x3C:"19度",0x3D:"20度",0x3E:"21度",0x3F:"22度",0x40:"25度",0x41:"24度",0x42:"25度",0x43:"26度",0x44:"27度",0x45:"28度",0x46:"29度",0x47:"30度",0x48:"31度",0x49:"32度",0x4A:"33度",0x4B:"34度",0x4C:"35度",0x4D:"36度",0x4E:"37度",0x4F:"38度",0x50:"39度",0x51:"40度",0x52:"41度"
                        ,0x53:"42度",0x54:"43度",0x55:"44度",0x56:"45度",0x57:"46度",0x58:"47度",0x59:"48度",0x5A:"49度",0x5B:"50度",0x80:"取消温度设置"}},
                    humidity:{name:"设置湿度",value:0x00,view:{0:"无效",0x01:"1%RH",0x02:"2%RH",0x03:"3%RH",0x04:"4%RH",0x05:"5%RH",0x06:"6%RH",0x07:"7%RH",0x08:"8%RH",0x09:"9%RH",0x0A:"10%RH",0x0B:"11%RH",0x0C:"12%RH",0x0D:"13%RH",0x0E:"14%RH",0x0F:"15%RH",0x10:"16%RH",0x11:"17%RH",0x12:"18%RH",0x13:"19%RH",0x14:"20%RH",0x15:"21%RH",0x16:"22%RH",0x17:"23%RH",0x18:"24%RH",0x19:"25%RH",0x1A:"26%RH",0x1B:"27%RH",0x1C:"28%RH",0x1D:"29%RH"
                        ,0x1E:"30%RH",0x1F:"31%RH",0x20:"32%RH",0x21:"33%RH",0x22:"34%RH",0x23:"35%RH",0x24:"36%RH",0x25:"37%RH",0x26:"38%RH",0x27:"39%RH",0x28:"40%RH",0x29:"41%RH",0x2A:"42%RH",0x2B:"43%RH",0x2C:"44%RH",0x2D:"45%RH",0x2E:"46%RH",0x2F:"47%RH",0x30:"48%RH",0x31:"49%RH",0x32:"50%RH",0x33:"51%RH",0x34:"52%RH",0x35:"53%RH",0x36:"54%RH",0x37:"55%RH"
                        ,0x38:"56%RH",0x39:"57%RH",0x3A:"58%RH",0x3B:"59%RH",0x3C:"60%RH",0x3D:"61%RH",0x3E:"62%RH",0x3F:"63%RH",0x40:"64%RH",0x41:"65%RH",0x42:"66%RH",0x43:"67%RH",0x44:"68%RH",0x45:"69%RH",0x46:"70%RH",0x47:"71%RH",0x48:"72%RH",0x49:"73%RH",0x4A:"74%RH",0x4B:"75%RH",0x4C:"76%RH",0x4D:"77%RH",0x4E:"78%RH",0x4F:"79%RH",0x50:"80%RH",0x51:"81%RH"
                        ,0x52:"82%RH",0x53:"83%RH",0x54:"84%RH",0x55:"85%RH",0x56:"86%RH",0x57:"87%RH",0x58:"88%RH",0x59:"89%RH",0x5A:"90%RH",0x5B:"91%RH",0x5C:"92%RH",0x5D:"93%RH",0x5E:"94%RH",0x5F:"95%RH",0x60:"96%RH",0x61:"97%RH",0x62:"98%RH",0x63:"99%RH",0x64:"100%RH",0x80:"取消湿度设置"}},
                    bit7AngleOnOff:{name:"Bit7摇头开关",value:0x00,view:{0:"设置摇头（重点关注）",1:"不设置摇头"}},
                    angle:{name:"摇头（摆风）角度",value:0x00,view:{0:"无效",1:"30度",2:"60度",3:"90度",4:"120度"}},
                    shakeType:{name:"摇头（摆风）类型",value:0x01,view:{0:"无效",1:"左右摇头",2:"上下摇头",3:"8字摇头",4:"W摇头"}},
                    shakeSwitch:{name:"摇头（摆风）开关",value:0x01,view:{0:"无效",1:"摇头开",2:"摇头关"}},
                    humidify:{name:"设置加湿",value:0x00,view:{0:"无效",1:"关闭加湿",2:"无档位变化加湿",3:"1档加湿",4:"2档加湿",5:"3档加湿"}},
                    anophelifuge:{name:"驱蚊功能",value:0x00,view:{0:"无效",1:"驱蚊开",2:"驱蚊关"}},
                    anion:{name:"负离子功能",value:0x00,view:{0:"无效",1:"负离子开",2:"负离子关"}},
                    timingOffMinute:{name:"定时关(分钟，倒计时)",value:0x00,view:{0:"0分钟",1:"10分钟",2:"20分钟",3:"30分钟",4:"40分钟",5:"50分钟",6:"清除定时关机",7:"清除定时开机"}},
                    timingOffHour:{name:"定时关(小时，倒计时)",value:0x00,view:{0:"0小时",1:"1小时",2:"2小时",3:"3小时",4:"4小时",5:"5小时",6:"6小时",7:"7小时",8:"8小时",9:"9小时",10:"10小时",11:"11小时",12:"12小时",13:"13小时",14:"14小时",15:"15小时",16:"16小时",17:"17小时",18:"18小时",19:"19小时",20:"20小时",21:"21小时",22:"22小时",23:"23小时",24:"24小时"}},
                    timingOnMinute:{name:"定时开(分钟，倒计时)",value:0x00,view:{0:"0分钟",1:"10分钟",2:"20分钟",3:"30分钟",4:"40分钟",5:"50分钟",6:"清除定时开机",7:"清除定时开机"}},
                    timingOnHour:{name:"定时开(小时，倒计时)",value:0x00,view:{0:"0小时",1:"1小时",2:"2小时",3:"3小时",4:"4小时",5:"5小时",6:"6小时",7:"7小时",8:"8小时",9:"9小时",10:"10小时",11:"11小时",12:"12小时",13:"13小时",14:"14小时",15:"15小时",16:"16小时",17:"17小时",18:"18小时",19:"19小时",20:"20小时",21:"21小时",22:"22小时",23:"23小时",24:"24小时"}},
                    humidifyFeedback:{name:"环境湿度反馈",value:0x00,view:{0:"无效",0x01:"-40度",0x02:"-39度",0x03:"-38度",0x04:"-37度",0x05:"-36度",0x06:"-35度",0x07:"-34度",0x08:"-33度",0x09:"-32度",0x0A:"-31度",0x0B:"-30度",0x0C:"-29度",0x0D:"-28度",0x0E:"-27度",0x0F:"-26度",0x10:"-25度",0x11:"-24度",0x12:"-23度",0x13:"-22度",0x14:"-21度",0x15:"-20度",0x16:"-19度",0x17:"-18度",0x18:"-17度",0x19:"-16度",0x1A:"-15度"
                        ,0x1A:"-14度",0x1C:"-13度",0x1D:"-12度",0x1E:"-11度",0x1F:"-10度",0x20:"-9度",0x21:"-8度",0x22:"-7度",0x23:"-6度",0x24:"-5度",0x25:"-4度",0x26:"-3度",0x27:"-2度",0x28:"-1度",0x29:"0度",0x2A:"1度",0x2B:"2度",0x2C:"3度",0x2D:"4度",0x2E:"5度",0x2F:"6度",0x30:"7度",0x31:"8度",0x32:"9度",0x33:"10度",0x34:"11度",0x35:"12度",0x36:"13度"
                        ,0x37:"14度",0x38:"15度",0x39:"16度",0x3A:"17度",0x3B:"18度",0x3C:"19度",0x3D:"20度",0x3E:"21度",0x3F:"22度",0x40:"25度",0x41:"24度",0x42:"25度",0x43:"26度",0x44:"27度",0x45:"28度",0x46:"29度",0x47:"30度",0x48:"31度",0x49:"32度",0x4A:"33度",0x4B:"34度",0x4C:"35度",0x4D:"36度",0x4E:"37度",0x4F:"38度",0x50:"39度",0x51:"40度",0x52:"41度"
                        ,0x53:"42度",0x54:"43度",0x55:"44度",0x56:"45度",0x57:"46度",0x58:"47度",0x59:"48度",0x5A:"49度",0x5B:"50度"}},
                    temperatureFeedback:{name:"环境温度反馈",value:0x00,view:{0:"无效",0x01:"1%RH",0x02:"2%RH",0x03:"3%RH",0x04:"4%RH",0x05:"5%RH",0x06:"6%RH",0x07:"7%RH",0x08:"8%RH",0x09:"9%RH",0x0A:"10%RH",0x0B:"11%RH",0x0C:"12%RH",0x0D:"13%RH",0x0E:"14%RH",0x0F:"15%RH",0x10:"16%RH",0x11:"17%RH",0x12:"18%RH",0x13:"19%RH",0x14:"20%RH",0x15:"21%RH",0x16:"22%RH",0x17:"23%RH",0x18:"24%RH",0x19:"25%RH",0x1A:"26%RH",0x1B:"27%RH",0x1C:"28%RH",0x1D:"29%RH"
                        ,0x1E:"30%RH",0x1F:"31%RH",0x20:"32%RH",0x21:"33%RH",0x22:"34%RH",0x23:"35%RH",0x24:"36%RH",0x25:"37%RH",0x26:"38%RH",0x27:"39%RH",0x28:"40%RH",0x29:"41%RH",0x2A:"42%RH",0x2B:"43%RH",0x2C:"44%RH",0x2D:"45%RH",0x2E:"46%RH",0x2F:"47%RH",0x30:"48%RH",0x31:"49%RH",0x32:"50%RH",0x33:"51%RH",0x34:"52%RH",0x35:"53%RH",0x36:"54%RH",0x37:"55%RH"
                        ,0x38:"56%RH",0x39:"57%RH",0x3A:"58%RH",0x3B:"59%RH",0x3C:"60%RH",0x3D:"61%RH",0x3E:"62%RH",0x3F:"63%RH",0x40:"64%RH",0x41:"65%RH",0x42:"66%RH",0x43:"67%RH",0x44:"68%RH",0x45:"69%RH",0x46:"70%RH",0x47:"71%RH",0x48:"72%RH",0x49:"73%RH",0x4A:"74%RH",0x4B:"75%RH",0x4C:"76%RH",0x4D:"77%RH",0x4E:"78%RH",0x4F:"79%RH",0x50:"80%RH",0x51:"81%RH"
                        ,0x52:"82%RH",0x53:"83%RH",0x54:"84%RH",0x55:"85%RH",0x56:"86%RH",0x57:"87%RH",0x58:"88%RH",0x59:"89%RH",0x5A:"90%RH",0x5B:"91%RH",0x5C:"92%RH",0x5D:"93%RH",0x5E:"94%RH",0x5F:"95%RH",0x60:"96%RH",0x61:"97%RH",0x62:"98%RH",0x63:"99%RH",0x64:"100%RH"}},
                    timingOffMinuteLow:{name:"定时关（低位）",value:0x00,view:{0:"0分钟",1:"1分钟",2:"2分钟",3:"3分钟",4:"4分钟",5:"5分钟",6:"6分钟",7:"7分钟",8:"8分钟",9:"9分钟"}},
                    timingOnMinuteLow:{name:"定时开（低位）",value:0x00,view:{0:"0分钟",1:"1分钟",2:"2分钟",3:"3分钟",4:"4分钟",5:"5分钟",6:"6分钟",7:"7分钟",8:"8分钟",9:"9分钟"}},
                    scene:{name:"场景",value:0x02,view:{0:"无效",1:"老人",2:"睡眠风",3:"阅读",4:"自定义"}},
                    versionHigh:{name:"版本（高位）",value:0x00},
                    versionLow:{name:"版本（低位）",value:0x00},
                    homeApplianceType:{name:"家电类型",value:0x00},
                    model:{name:"型号",value:0x00},
                    snLength:{name:"SN长度+4",value:0x00},
                    snContent:{name:"SN内容",value:[0x00]}
                }
			});
			}, 1000);

		});
    </script>
</body>

</html>