@charset "utf-8";
/* CSS Document */
html {
	font-size: 62.5%;/* 10÷16=62.5% */
    -ms-touch-action: none;
}
body {
	/*font-size: 12px;
	font-size: 1.2em;*//* 12÷10=1.2 */
    /*font-family: ubuntu, helvetica, arial;*/
    /*background: #92c558;*/
    overflow: hidden;
}
p {
	font-size: 14px;
	font-size: 1.4em;
}
body, ul, li, dl, dt, dd, p, h1, h2, h3, h4, span, form, img, div, option, input, button{
	margin: 0;
	padding: 0;
	border: none;
	outline: 0 none;
	font-family:Arial, '黑体';
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
a {
	text-decoration: none;
}
.h_10 {
	width: 100%;
	height: 10px;
}
.h_20 {
	width: 100%;
	height: 20px;
}
.h_30 {
	width: 100%;
	height: 30px;
}
.h_40 {
	width: 100%;
	height: 40px;
}
.h_46 {
	width: 100%;
	height: 46px;
}
.h_48 {
	width: 100%;
	height: 48px;
}
.f_l {
	float: left;
}
.f_r {
	float: right;
}
.clear {
	clear: both;
}
.bg {
	/*background: #fff;*/
	background: #dbe2e7;
}
.bg_2 {
	background: #e7eef3;
}
/*card-page*/
.card_font{
    font-family: "helveticaneue_ultlt";
    text-shadow: 0 4px 4px rgba(0, 0, 0,0.1);
}
@font-face {
    font-family: 'helveticaneue_ultlt';
    src: url('../../common/fonts/helveticaneue_ultlt.ttf') format('truetype');
}
.mask_font{
    font-family: "HelveticaNeueLTPro_Lt";
}
@font-face {
    font-family: 'HelveticaNeueLTPro_Lt';
    src: url('../../common/fonts/HelveticaNeueLTPro_Lt.ttf') format('truetype');
}

.card_main {
    position: absolute;
    width:100%;
    height: 100%;
    margin:0 auto;
}
.card_15DRW{
    background:url(../images/2.png) no-repeat center;
    background-size: 20%;
}
.card_16BR{
    background:url(../images/1.png) no-repeat center;
    background-size: 20%;
}
.card_on_1, .card_off, .card_offline {
    position: absolute;
	width: 100%;
	height: 75%;
}

/*卡片下的快捷背景*/
.card_bottom_1, .card_bottom_2, .card_bottom_3 {
    position: absolute;
    width: 100%;
    bottom: 5%;
    left: 0;
    height: 50px;
}

/*卡片下的快捷按钮*/
.card_bottom_1 ul, .card_bottom_2 ul, .card_bottom_3 ul{
    width: 100%;
    text-align: center;
}
.card_bottom_1 ul li, .card_bottom_2 ul li, .card_bottom_3 ul li {
    display: inline-block;
    height: 50px;
    text-align: center;
}
.card_bottom_1 ul li {
    width: 30%;
/*	width: 33.333333%;*/
}
.card_bottom_2 ul li {
	width: 100%;
/*    width: 33.333333%;*/
}

.card_bottom_1 ul li a, .card_bottom_1 ul li a:hover, .card_bottom_2 ul li a, .card_bottom_2 ul li a:hover, .card_bottom_3 ul li a, .card_bottom_3 ul li a:hover {
	display: block;
	color: #88939a;
}
.card_bottom_but_1, .card_bottom_but_2,.card_bottom_but_3 ,.disconnect{
    width: 100%;
    display: block;
    color: #FFF;
    padding-top: 36px;
    height: 14px;
    font-size: 1.2em;
    text-align: center;
}

.card_bottom_but_1 {
    background:url(../images/reduce.png)  no-repeat;
    background-size: 32px 32px;
    background-position: center top;
}
.card_bottom_but_2 {
    background:url(../images/increase.png)  no-repeat;
    background-size: 32px 32px;
    background-position: center top;
}
.card_bottom_but_3 {
    background:url(../images/Shutdown.png)  no-repeat;
    background-size: 32px 32px;
    background-position: center top;
}

/* 等待旋转 */
.card_bottom_but_waiting{
    background:url(../images/refresh.gif) no-repeat;
    background-size: 32px 32px;
    background-position: center top;
}
/*卡片里的文字*/
.title {
    width: 100%;
    position: absolute;
    font-size:1.9rem;
    font-weight: bold;
    color:#fff;
    top:0;
    left:0;
    text-align: center;
}
.data_info {
    position: absolute;
    width: 100%;
    height: 16px;
    top:35px;
    left:0;
    text-align: center;
}
.data_info>span{
    color: #fff;
    display: inline-block;
    padding: 0 10px;
    border-left:solid 1px #fff;
    font-size: 1.6em;
    line-height: 16px;
}
.data_info>span:first-child{
    border-left: none;
}
/*card-page end*/
