<div class="view_reSuccess">
	<div class="account_money">
		<p>账户余额</p>
		<a href="javascript:;"><span><%= balance %></span><i>元</i></a>
	</div>
	<div class="money_type clear">
		<p>充值</p>
		<div class="type_btn">
			<ul class="clear">
				<li style="width:<%= liWidth%>px;height:<%= liWidth%>px">
				<a href="javascript:;" class="fl" style="width:<%= cirWidth%>px;height:<%= cirWidth%>px;line-height:<%= cirWidth%>px"><strong>30</strong>元</a>
				</li>
				<li style="width:<%= liWidth%>px;height:<%= liWidth%>px">
					<a href="javascript:;" class="fl" style="width:<%= cirWidth%>px;height:<%= cirWidth%>px;line-height:<%= cirWidth%>px"><strong>90</strong>元</a>
				</li>
				<li style="width:<%= liWidth%>px;height:<%= liWidth%>px">
					<a href="javascript:;" class="fl" style="width:<%= cirWidth%>px;height:<%= cirWidth%>px;line-height:<%= cirWidth%>px"><strong>180</strong>元</a>
				</li>
				<li style="width:<%= liWidth%>px;height:<%= liWidth%>px">
					<a href="javascript:;" class="fl" style="width:<%= cirWidth%>px;height:<%= cirWidth%>px;line-height:<%= cirWidth%>px"><strong>360</strong>元</a>
				</li>
				<li style="width:<%= liWidth%>px;height:<%= liWidth%>px">
					<a href="javascript:;" class="fl" style="width:<%= cirWidth%>px;height:<%= cirWidth%>px;line-height:<%= cirWidth%>px"><span class = "other">其它</span></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="reCharge_record"><a href="javascript:;">充值记录</a><i></i></div>
	<div class="mask">
	<div class="mask_tip successTip">
		<p><strong>充值成功！</strong></p>
	</div>
	</div>
</div>
